div.foo {
    

    border: 10px solid #ccc;
}

div.bar {
    
    border: 4px solid #444;
}

div.attack {
    
    border: 1px solid red;
}

.hidden {

    display: none;
}

.rightparent * {
    color: green;
    font-weight: bold;
}

.wrongparent * {
    color: red;
    font-weight: normal;
}

.bad {
    color: red;
}

.good {
    color: green; display: none;
}

.passed .good {
    display: inline;
}

.passed .bad {
    display: none;
}
